/**
 * @Author: songwenxin
 * @Filename: index.css
 * @ProjectName: gfm-manage
 * @Mail: songwenxin666@sina.com
 * @Date: 2019-09-29 08:32
 */
.header_splice{
  height: 20px;
  width: 1px;
  background-color: #ffffff;
  margin-top: 13px;
}
.header_menu{

}
